[submodule "src/kinco_diff_controller"]
	path = src/kinco_diff_controller
	url = https://github.com/itsmevjnk/kinco_diff_controller.git
[submodule "src/two_wheel_mr"]
	path = src/two_wheel_mr
	url = https://github.com/itsmevjnk/two_wheel_mr.git
[submodule "src/rviz_hmi_plugins"]
	path = src/rviz_hmi_plugins
	url = https://github.com/itsmevjnk/rviz_hmi_plugins.git
[submodule "src/frcobot_ros2"]
	path = src/frcobot_ros2
	url = https://github.com/itsmevjnk/frcobot_ros2.git
	branch = v3_r3.8.0
	
